amqp==1.4.9
aniso8601==1.2.0
anyjson==0.3.3
appdirs==1.4.0
click==6.7
enum-compat==0.0.2
eventlet==0.20.1
Flask==0.12
Flask-RESTful==0.3.5
greenlet==0.4.12
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.9.5
kombu==3.0.37
MarkupSafe==0.23
mock==2.0.0
nameko==2.5.1
packaging==16.8
path.py==10.1
pbr==1.10.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
requests==2.13.0
six==1.10.0
Werkzeug==0.11.15
